/*
Dark Blue: #0D3B66
Tan: #FAF0CA
Gold: #F4D35E
Orange: #EE964B
Scarlet: #F95738
*/

img{
    max-width: 600px;
}

body{
    font-family: Verdana, Arial, sans-serif;
    background: #F4D35E;
    color: #FAF0CA;
}

header, footer{
    background: #EE964B;
    padding: 20px;
}

header h1{
    color: white;
    font-size: 3em;
    text-transform: uppercase;
}

header p{
    font-style: italic;
}

.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F95738;
}

.navbar li{
    float:left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #F4D35E;
}

.active {
    background-color: #EE964B;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

h2{
    color:#F95738;
    text-transform: uppercase;
}

footer p{
    text-align:center;
}

.classes{
    padding: 10px 20px;
    background: #FAF0CA;
    color: black;
    margin: 20px 0;
}

.classes p{
    clear:both;
    padding: 20px 0px;
}

.classes h3{
    margin-top: 0;
    text-transform: uppercase;
    color:#F95738;
    font-weight: 400;
    font-size: 1.2rem;
}